.useID {
  margin: 30px;
}

.useID h1 {
  font-size: 60px;
}

.useID input {
  border: 1px solid black;

  padding: 5px;
  width: 280px;
}

@media screen and (max-width: 768px) {
  .useID pre {
    white-space: pre-wrap;
  }
}
