@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.useRef {
  display: flex;
  width: 95%;
  margin: auto;
  justify-content: space-between;
  align-items: flex-start;
}

.titulo_useref {
  width: 30%;
  margin: 5px;
  border: 1px solid black;
  padding: 5px;
}
